* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #7e8188;    
}

body {
    background: #d5e1ef;
    min-height: 100vh;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 0 1rem;
    max-width: 40rem;
    margin: 0 auto;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.1rem gray;
}

@media all and (max-width: 580px) {
    body {
        padding: 0;
    }

    main {
        border-radius: 0;
    }
}

header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: large;
}

h1,
strong {
    color: #262932;
}

section {
    background: #f6fafd;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
}

img {
    width: 12%;
    max-width: 40px;
    height: 10%;
    margin-right: 12px;
}

.my-post {
    color: #6b717c;
}

.group {
    color: #385393;
}

span {
    color: #ebf7f9;
    padding: 0 8px;
    background: #0c317a;
    border-radius: 5px;
}

aside {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #efefef;
    border-radius: 10px;
}

aside:hover {
    background: #e5eff9;
}

.markAll:hover,
strong:hover {
    color: darkblue;
}